<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deals">
        <activity
            android:name=".Car_Details"
            android:exported="false" />
        <activity
            android:name=".Audi"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".poco"
            android:exported="false" />
        <activity
            android:name=".apple"
            android:exported="false" />
        <activity
            android:name=".realme"
            android:exported="false" />
        <activity
            android:name=".vivo"
            android:exported="false" />
        <activity
            android:name=".samsung"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Deals.NoActionBar" />
    </application>

</manifest>